export const defaultObjects = {
  String: (field: string) => `test-${field}`,
  Int: (field: string) => 12345,
  BigInt: (field: string) => BigInt('12345678901234567890'),
  Boolean: (field: string) => true,
  Bytes: (field: string) => '0x1234567890abcdef',
  Address: (field: string) => '0x1234567890123456789012345678901234567890'
}
