import { Store } from '@subsquid/typeorm-store'
import {
  setupTestDatabase,
  type TestDatabase,
  createDefaultLog,
  miniHash
} from '../../testing'

import { handle{{eventName}}s } from './{{eventNameLower}}'

describe('handle{{eventName}}s integration', () => {
  let db: TestDatabase
  let store: Store

  beforeAll(async () => {
    db = await setupTestDatabase()
    store = new Store(() => db.dataSource.manager)
  })

  afterAll(async () => {
    await db.cleanup()
  })

  it('should process {{eventName}} events and save them to the database', async () => {
    let lognum = 0

{{#instances}}
    const decoded{{nameCapitalized}}TestLog = {
{{#eventFields}}
      {{fieldName}}: {{#isBigInt}}BigInt(miniHash('{{name}}' + '{{fieldName}}')){{/isBigInt}}{{^isBigInt}}{{#isBoolean}}true{{/isBoolean}}{{^isBoolean}}'0x{{fieldName}}{{nameCapitalized}}'{{/isBoolean}}{{/isBigInt}},
{{/eventFields}}
    }
    const {{name}}TestLog = {
      contract: {
        name: '{{contractName}}',
        instanceName: '{{name}}',
        instanceAddress: '0x{{name}}',
      },
      decoded: decoded{{nameCapitalized}}TestLog,
      ...createDefaultLog(),
    }
    {{name}}TestLog.id = lognum.toString()
    lognum += 1
    {{name}}TestLog.block.height = miniHash('{{name}}' + 'height')
    {{name}}TestLog.transactionHash = '0xmy{{name}}transactionhashfromlog'

{{/instances}}
    // Minimal ProcessorContext mock
    const ctx = { store } as any
    const { {{eventNameLower}}s } = await handle{{eventName}}s(
      'ethereum-mainnet',
      ctx,
      [{{#instances}}{{name}}TestLog{{^last}}, {{/last}}{{/instances}}],
      {{#hasPreviouslyProcessed}}{ {{#previouslyProcessed}}{{previouslyProcessedField}}: []{{^last}}, {{/last}}{{/previouslyProcessed}} }{{/hasPreviouslyProcessed}}{{^hasPreviouslyProcessed}}{}{{/hasPreviouslyProcessed}}
    )

    expect({{eventNameLower}}s).toHaveLength({{instances.length}})
{{#instances}}
    expect({{eventNameLower}}s[{{index}}]).toMatchObject({
      id: {{name}}TestLog.id,
      block: {{name}}TestLog.block.height,
      ...decoded{{nameCapitalized}}TestLog,
      txnHash: '0xmy{{name}}transactionhashfromlog',
    })
{{/instances}}

    const dbTransfers = await db.dataSource
      .createQueryBuilder()
      .select('*')
      .from('{{tableNameSnake}}', 't')
      .addOrderBy('id::int', 'ASC')
      .getRawMany()

    expect(dbTransfers).toHaveLength({{instances.length}})
{{#instances}}
    expect(dbTransfers[{{index}}]).toMatchObject({
      id: {{name}}TestLog.id,
      block: {{name}}TestLog.block.height,
      txn_hash: '0xmy{{name}}transactionhashfromlog',
{{#eventFields}}
      {{fieldNameSnake}}: {{#isBigInt}}decoded{{nameCapitalized}}TestLog.{{fieldName}}.toString(){{/isBigInt}}{{^isBigInt}}decoded{{nameCapitalized}}TestLog.{{fieldName}}{{/isBigInt}},
{{/eventFields}}
    })
{{/instances}}
  })
})
