import { Store } from '@subsquid/typeorm-store'
import { setupTestDatabase, type TestDatabase } from '../../testing/testDatabase'
import { createDefaultLog } from '../../testing/defaultObjects'

import { handle{{eventName}}s } from './{{eventNameLower}}'

describe('handle{{eventName}}s integration', () => {
  let db: TestDatabase
  let store: Store

  beforeAll(async () => {
    db = await setupTestDatabase()
    store = new Store(() => db.dataSource.manager)
  })

  afterAll(async () => {
    await db.cleanup()
  })

  beforeEach(async () => {
    // Clear any existing data
  })

  it('should process {{eventNameLower}}s and save them to the database', async () => {
    const decodedMainTestLog = {
{{#eventFields}}
      {{fieldName}}: 'test{{fieldName}}',
{{/eventFields}}
    }
    const mainTestLog = {
      contract: {
        name: '{{contractName}}',
        instanceName: 'main',
        instanceAddress: '0x1234567890123456789012345678901234567890'
      },
      decoded: decodedMainTestLog,
      ...createDefaultLog()
    }
    mainTestLog.id = 'my{{eventNameLower}}logid'
    mainTestLog.block.height = 11362580
    mainTestLog.transactionHash = '0xmy{{eventNameLower}}transactionhash'

    // Minimal ProcessorContext mock
    const ctx = { store } as any
    const { {{eventNameLower}}s } = await handle{{eventName}}s(
      'ethereum-mainnet',
      ctx,
      [mainTestLog],
      {}
    )

    expect({{eventNameLower}}s).toHaveLength(1)
    expect({{eventNameLower}}s[0]).toMatchObject({
      id: 'my{{eventNameLower}}logid',
      block: 11362580,
      ...decodedMainTestLog,
      txnHash: '0xmy{{eventNameLower}}transactionhash',
    })

    const db{{eventName}}s = await db.dataSource
      .createQueryBuilder()
      .select('*')
      .from('{{contractNameLower}}_main_{{eventNameLower}}', 'e')
      .getRawMany()

    expect(db{{eventName}}s).toHaveLength(1)
    expect(db{{eventName}}s[0]).toMatchObject({
      id: 'my{{eventNameLower}}logid',
      block: 11362580,
      txn_hash: '0xmy{{eventNameLower}}transactionhash',
{{#eventFields}}
      {{fieldName}}: decodedMainTestLog.{{fieldName}},
{{/eventFields}}
    })
  })
})
