{{#contracts}}
{{#events}}
type {{contractName}}{{name}} @entity {
  id: ID!
  network: String!
  instanceAddress: String!
  block: Int!
  blockTimestamp: BigInt
  txnHash: String!
{{#eventFields}}
  {{fieldName}}: {{fieldType}}!
{{/eventFields}}
}

{{/events}}
{{/contracts}}
