manifestVersion: subsquid.io/v0.1
name: {{projectName.raw}}
description: {{projectDescription}}
build: 
deploy:
  addons:
    postgres: 
    rpc:
{{#networks}}
{{#shortName}}
      - {{shortName.raw}}.http
{{/shortName}}
{{/networks}}
  processor:
{{#networks}}
    - name: {{name.raw}}-processor
      cmd: [ "sqd", "process:{{name.raw}}:prod" ]
{{/networks}}
  api:
    cmd:
      - sqd
      - serve:prod
#scale:
#  addons:
#    postgres:
#      storage: 200G
