manifestVersion: subsquid.io/v0.1
name: {{projectName.ke-bab}}
description: {{projectDescription}}
build: 
deploy:
  addons:
    postgres: 
    rpc:
{{#networks}}
{{#rpcAbbreviation}}
      - {{rpcAbbreviation}}.http
{{/rpcAbbreviation}}
{{/networks}}
  processor:
{{#networks}}
    - name: {{name.ke-bab}}-processor
      cmd: [ "sqd", "process:{{name.ke-bab}}:prod" ]
{{/networks}}
  api:
    cmd:
      - sqd
      - serve:prod
#scale:
#  addons:
#    postgres:
#      storage: 200G
