import { Store } from '@subsquid/typeorm-store'
import {
  setupTestDatabase,
  type TestDatabase,
  createDefaultLog,
  miniHash
} from '../../testing'

import { handle{{eventName.PasCal}}s } from './{{eventName.caMel}}'

describe('handle{{eventName.PasCal}}s integration', () => {
  let db: TestDatabase
  let store: Store

  beforeAll(async () => {
    db = await setupTestDatabase()
    store = new Store(() => db.dataSource.manager)
  })

  afterAll(async () => {
    await db.cleanup()
  })

  it('should process {{eventName.PasCal}} events and save them to the database', async () => {
    let lognum = 0

{{#instances}}
    const decoded{{name.Capitalized}}TestLog = {
{{#eventFields}}
      {{fieldName.caMel}}: {{#isBytes}}new Uint8Array(Buffer.from('{{fieldName.caMel}}{{name.Capitalized}}', 'utf8')){{/isBytes}}{{^isBytes}}{{#isBigInt}}BigInt(miniHash('{{name.caMel}}' + '{{fieldName.caMel}}')){{/isBigInt}}{{^isBigInt}}{{#isBoolean}}true{{/isBoolean}}{{^isBoolean}}'0x{{fieldName.caMel}}{{name.Capitalized}}'{{/isBoolean}}{{/isBigInt}}{{/isBytes}},
{{/eventFields}}
    }
    const {{name.caMel}}TestLog = {
      contract: {
        name: '{{contractName.PasCal}}',
        instanceName: '{{name.caMel}}',
        instanceAddress: '0x{{name.caMel}}',
      },
      decoded: decoded{{name.Capitalized}}TestLog,
      ...createDefaultLog(),
    }
    {{name.caMel}}TestLog.id = lognum.toString()
    lognum += 1
    {{name.caMel}}TestLog.block.height = miniHash('{{name.caMel}}' + 'height')
    {{name.caMel}}TestLog.block.timestamp = miniHash('{{name.caMel}}' + 'timestamp')
    {{name.caMel}}TestLog.transactionHash = '0xmy{{name.caMel}}transactionhashfromlog'

{{/instances}}
    // Minimal ProcessorContext mock
    const ctx = { store } as any
    const { {{eventName.caMelPlural}} } = await handle{{eventName.PasCal}}s(
      'ethereum-mainnet',
      ctx,
      [{{#instances}}{{name.caMel}}TestLog{{^last}}, {{/last}}{{/instances}}],
      {{#hasPreviouslyProcessed}}{ {{#previouslyProcessed}}{{previouslyProcessedField.caMelPlural}}: []{{^last}}, {{/last}}{{/previouslyProcessed}} }{{/hasPreviouslyProcessed}}{{^hasPreviouslyProcessed}}{}{{/hasPreviouslyProcessed}}
    )

    expect({{eventName.caMelPlural}}).toHaveLength({{instances.length}})
{{#instances}}
    expect({{eventName.caMelPlural}}[{{index}}]).toMatchObject({
      id: {{name.caMel}}TestLog.id,
      block: {{name.caMel}}TestLog.block.height,
      blockTimestamp: BigInt({{name.caMel}}TestLog.block.timestamp),
      ...decoded{{name.Capitalized}}TestLog,
      txnHash: '0xmy{{name.caMel}}transactionhashfromlog',
    })
{{/instances}}

    const dbTransfers = await db.dataSource
      .createQueryBuilder()
      .select('*')
      .from('{{tableName.sna_ke}}', 't')
      .addOrderBy('id::int', 'ASC')
      .getRawMany()

    expect(dbTransfers).toHaveLength({{instances.length}})
{{#instances}}
    expect(dbTransfers[{{index}}]).toMatchObject({
      id: {{name.caMel}}TestLog.id,
      block: {{name.caMel}}TestLog.block.height,
      block_timestamp: {{name.caMel}}TestLog.block.timestamp.toString(),
      txn_hash: '0xmy{{name.caMel}}transactionhashfromlog',
{{#eventFields}}
      {{fieldName.sna_ke}}: {{#isBytes}}Object.fromEntries(decoded{{name.Capitalized}}TestLog.{{fieldName.caMel}}.entries()){{/isBytes}}{{^isBytes}}{{#isBigInt}}decoded{{name.Capitalized}}TestLog.{{fieldName.caMel}}.toString(){{/isBigInt}}{{^isBigInt}}decoded{{name.Capitalized}}TestLog.{{fieldName.caMel}}{{/isBigInt}}{{/isBytes}},
{{/eventFields}}
    })
{{/instances}}
  })
})
